/* start of css */
*{
   margin: 0;
   padding: 0;
/* .................
style for header
.................... */
}
header{
    margin: 0 px;
    padding: 0 px;
    height: 990px;
    background-color: rgba(254, 221, 177, 0.87);
}
/* ........g3 text and menu
................... */
 .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  .g3-text{
 margin: 30px;
    margin-left: 120px;
    font-family:  sans-serif;
  }
 ul{
    display: flex;
    margin-right:90px;

 }
 /* .....list style
 ......... */
 ul li{
    list-style: none;
    margin-right:40px;
 }
 ul li a{
    text-decoration: none;
    color: black;
 }
 ul li:hover{
   background-color: orangered;
   height: 20px;
   border-radius: 2px;

   
 }
 /* menu bar text */
 .text{
    margin-top: 40px;
 }
 .menu1st-text{
    text-align: center;
    font-family:arial;
 }
 .menu2st-text{
    text-align:center;
    font-family: arial;
 }
 .small-text{
    margin-top: 20px;
 }
.lor1line{
    text-align: center;
}
/* ......first button.... */
.button{
    margin-top: 30px;
    margin-left: 46.2%;
    height: 35px;
    width: 120px;
    color: white;
    background-color: orangered;
    border-style: none;
    border-radius: 5px;
}
.button:hover{
   background-color: rgb(215, 111, 8);
   box-shadow: 5px 5px 5px gray;
}
.banner{
   margin: 3.5%;
   margin-top: 30px;
   height: 520px;
   width: 93%;
   border-radius: 10px;
}
/* ........
section started here
............ */
.pic-text1{
   margin-top:80px;
   display: flex;
   align-items: center;
   margin-left: 20%;
  
}
.four-pic1{
   display: grid;
   grid-template-columns: repeat(2, .2fr);
   gap: 6px;
}
.four-pic{
   height: 200px;

}
.text-4pic{
   margin-left: 40px;
}
.beside-text{
   font-size:30px;
   font-family:helvetica;
}
.of-our{
   font-weight: 700;
}
.text-4pic h1{
   color: orange;
}
.buttons{
   position: absolute;
   margin-top: 15px;
   color: white;
   height: 30px;
   width: 110px;
   background-color: orangered;
   border-style: none;
   border-radius: 5px;
}
.buttons:hover{
   background-color: rgb(125, 62, 16);
   box-shadow: 5px 5px 5px gray;
}
/* ..........
section 3 started here */
.architect{
  display: flex;
  margin-top: 120px;
  margin-left: 170px;
 
}
.architect img{
   height: 700px;
   width: 550px;
}
.arc-text{
   width: 600px;
}
.section3{
   font-size: 30px;
   font-family: arial;
}
.under-h1{
   margin-top: 20px;
}
.under-h1a{
margin-top: 50px;
}
.h3-1span{
   margin-top: 50px;
}
.absolute{
   position: absolute;
   margin-top: 650px;
   margin-left: 500px;
   height: 100px;
   width: 150px;
   background-color:orangered;
   border-style: none;
   border-radius: 5px;
   color: white;
}
.section4{
   margin-top: 80px;
   margin-left: 180px;
}
.section-5{
   margin-top:70px;
   margin-left: 170px;
   display: flex;
   
   
}
.section5{
   border: 1px solid rgb(184, 194, 3);
   height: 150px;
   width: 150px;
   margin-left:120px ;
   border-radius: 8px;
  
   
}
.section5:hover{
   background-color: rgba(42, 98, 98, 0.632);
}
.section5 img{
   margin-top:20px;
   margin-left: 51px;
}
.section5-h1{
   text-align: center;
}
.section5-uh1{
   text-align: center;
}
.section-6{
   margin-top: 100px;
}
.section-6 h1{
   text-align: center;
   font-family: arial;
}
.section-6 article{
   margin-top: 20px;
   text-align: center;
}
.section-6pic{
   margin-top: 30px;
   margin-left: 90px;
}
.section-6pic img{
   margin: 40px;
   filter: grayscale(100%);
}
footer{
   
   position: relative;
   left: 17%;

   margin-top: 50px;
   text-align: center;
   border-radius: 10px;
   background-color: rgba(243, 185, 109, 0.96);
   height: 100px;
   width: 1000px;
}
footer article{
   position: relative;
   top: 40px;
   align-items: center;
   margin-top: 40px;
   margin-left: 50px;
}
 .h4{
   margin-top: 20px;
   height: 250px;
   width:100%;
   text-align:center ;
  position: relative;
  top: 30px;
   color: white;
   background-color: rgb(11, 9, 28);
}
h4{
   position: relative;
   top: 90px;
}

/* ..............
media screen start
................. */


@media screen and (max-width:600px) {
   *{
      margin: 0;
      padding: 0;
   
   }
   header{
       margin: 0 px;
       padding: 0 px;
       height: 820px;
       background-color: rgba(254, 221, 177, 0.87);
   }
    .menu{
       display:;
       justify-content:n;
       align-items: center;
    }
     .g3-text{
    margin: 30px;
       margin-left:5px;
       font-family:  sans-serif;
     }
    
     
    
    ul li{
       list-style: none;
       margin-right:40px;
    }
    ul li a{
       text-decoration: none;
       color: black;
    }
    .text{
       margin-top: 40px;
    }
    .menu1st-text{
       text-align: center;
       font-family:arial;
    }
    .menu2st-text{
       text-align:center;
       font-family: arial;
    }
    .small-text{
       margin-top: 20px;
    }
   .lor1line{
       text-align: center;
   }
   .button{
       margin-top: 30px;
       margin-left: 38.2%;
       height: 35px;
       width: 120px;
       color: white;
       background-color: orangered;
       border-style: none;
       border-radius: 5px;
   }
   .banner{
      margin: 3.5%;
      margin-top: 30px;
      height: 300px;
      width: 93%;
   }
   .pic-text1{
      margin-top:80px;
     
      display:grid;
      grid-template-rows: repeat(4, .2fr);
     
      margin-left:30px;
   }
  
   .four-pic{
      display: block;
      height: 200px;
   
   }
   .text-4pic{
      margin-left: 40px;
   }
  
   
   .beside-text{
      margin-top: 80px;
      font-size:30px;
      font-family:helvetica;
   }
   .of-our{
      font-weight: 700;
   }
   .text-4pic h1{
      color: orange;
   }
   .buttons{
      margin-top: 15px;
      color: white;
      height: 30px;
      width: 110px;
      background-color: orangered;
      border-style: none;
      border-radius: 5px;
   }
   
   .architect{
      margin-left: 0px;
      display: block;
   } 
     
   .architect img{
      height: 600px;
      width: 420px;
      margin-left: 30px;
      margin-top: 40px;
   }
   .arc-text{
      margin-left: 30px;
      width: 400px;
   }
   .section3{
      font-size: 30px;
      font-family: arial;
   }
   .under-h1{
      margin-top: 20px;
   }
   .under-h1a{
   margin-top: 50px;
   }
   .h3-1span{
      margin-top: 50px;
   }
   .absolute{
      margin-left:180px;
      margin-top: 20px;
      height: 70px;
      width: 150px;
      background-color: orangered;
      border-style: none;
      border-radius: 5px;
      color: white;
   }
   .section4{
      margin-top: 120px;
      margin-left: 30px;
   }
   .section-5{
      margin-top:70px;
      margin-left: 10px;
      display: flex;
      
      
   }
   .section5{
      border: 1px solid rgb(184, 194, 3);
      height: 150px;
      width: 250px;
     margin-left: 20px;
      border-radius: 8px;
     
      
   }
   .section5 img{
      margin-top:20px;
      margin-left:25%;
   }
   .section5-h1{
      text-align: center;
   }
   .section5-uh1{
      text-align: center;
   }
   .section-6{
      margin-top: 100px;
   }
   .section-6 h1{
      text-align: center;
      font-family: arial;
   }
   .section-6 article{
      margin-top: 20px;
      text-align: center;
   }
   .section-6pic{
      margin-top: 30px;
      margin-left: 90px;
   }
   .section-6pic img{
      
      margin: 40px;
      width: 50%;
   }
   footer{
      margin-top: 50px;
      position: relative;
      left: 20px;
 
      text-align: center;
      border-radius: 10px;
      background-color: rgba(243, 185, 109, 0.96);
      height: 100px;
      width: 90%;
   }
   footer article{
      margin-left: 5px;
      
     
     
      
   }
    .h4{
      margin-top: 20px;
      height: 250px;
      width:100%;
      text-align:center ;
     position: relative;
     top: 30px;
      color: white;
      background-color: rgb(11, 9, 28);
   }
   h4{
      position: relative;
      top: 90px;
   }
}

